<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!--扫描全部注解-->
	<context:component-scan base-package="cn.lantian.ssm"></context:component-scan>

	<!--只扫描属性上面的注解
    annotation注释-->
	<context:annotation-config></context:annotation-config>

	<!-- 开启aop操作 -->
	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:config/jdbc.properties"/>


	<!-- 配置c3p0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 注入属性值 -->
		<property name="driverClass" value="${jdbc.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>


	<!--sqlSessionFactory ~~~Mybatis-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--加载mybatis配置文件-->
		<property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml"></property>
		<!--数据源-->
		<property name="dataSource" ref="dataSource"></property>
	</bean>


	<!--mapper批量扫描器-->
	<!--从mapper包众扫描出mapper接口、自动创建代理对象并且在spring容器中注册

	遵循规范：将mapper.java接口类名和mapper.xml映射文件名称保持一致并且在同一个目录中、
	自动扫描出来的mapper的bean的id为mapper类名（首字母小写）
	-->
	<!-- mapper扫描器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描包路径，如果需要扫描多个包，中间使用半角逗号隔开 -->
		<property name="basePackage" value="cn.lantian.ssm.mapper"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>

	<!--////////////////////////////////////////-->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="50"/>
		<property name="maxTotal" value="100"/>
		<property name="maxWaitMillis" value="20000"/>
	</bean>

	<bean id="connectionFactory"
	      class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<!--<property name="hostName" value="localhost" />
		<property name="port" value="6379" />
		<property name="poolConfig" ref="poolConfig" />-->
	</bean>


	<!--jdk序列化器，可保存对象 -->
	<bean id="jdkSerializationRedisSerializer"
	      class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />

	<!--String序列化器 -->
	<bean id="stringRedisSerializer"
	      class="org.springframework.data.redis.serializer.StringRedisSerializer" />

	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="connectionFactory"/>
		<property name="keySerializer" ref="stringRedisSerializer" />
		<property name="defaultSerializer" ref="stringRedisSerializer" />
		<property name="valueSerializer" ref="jdkSerializationRedisSerializer" />
	</bean>
	<!--////////////////////////////////////////-->

</beans>